.vs/
lib/
x64/
WINDebug/
!x64/UEFIShell/
!x64/WINDebug/
Win32
Tools/
!Include/X64/
*.l.c
*.y.c
*.y.h
*.y.output
*.y
*.ilk
*.pdb

WINDebug/
AcpiBin/WINDebug/
AcpiBin/Win32/WINDebug/
AcpiBin/x64/WINDebug/
AcpiDump/WINDebug/
AcpiDump/Win32/WINDebug/
AcpiDump/x64/WINDebug/
AcpiExec/WINDebug/
AcpiExec/Win32/WINDebug/
AcpiExec/x64/WINDebug/
AcpiHelp/WINDebug/
AcpiHelp/Win32/WINDebug/
AcpiHelp/x64/WINDebug/
AcpiSrc/WINDebug/
AcpiSrc/Win32/WINDebug/
AcpiSrc/x64/WINDebug/
AcpiSubsystem/WINDebug/
AcpiSubsystem/x64/WINDebug/
AcpiXtract/WINDebug/
AcpiXtract/Win32/WINDebug/
AcpiXtract/x64/WINDebug/
AslCompiler/WINDebug/
AslCompiler/WINDebug32Bit/
AslCompiler/Win32/WINDebug/
AslCompiler/x64/WINDebug/
Examples/WINDebug/
Examples/Win32/WINDebug/
Examples/x64/WINDebug/
template/WINDebug/
template/Win32/WINDebug/
template/x64/WINDebug/
Win32/WINDebug/
x64/WINDebug/