[submodule "libsrc"]
	path = libsrc
	url = https://github.com/KilianKegel/torosrc.git
[submodule "Visual-LIBWIN32-for-UEFI"]
	path = Visual-LIBWIN32-for-UEFI
	url = https://github.com/KilianKegel/Visual-LIBWIN32-for-UEFI.git
